<div class="container">
   
    <!-- <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
            <label>Nom Film</label>
            <input type="text" class="form-control" [(ngModel)]="nomFilm" name="nomFilm" class="form-control">
            <button type="submit" (click)="rechercherFils()" class="btn btn-primary mb-2 ml-2">Rechercher</button>
        </div>
    </form> -->
    <!-- <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
        <label>Nom Film en tapant</label>
        <input class="form-control" #searchTerm (keyup)="onKeyUp(searchTerm.value)">
        </div>
        </form> -->
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2 mt-2 ">
            <label>Nom Film en tapant</label>
            <input #nom [(ngModel)]="searchTerm" name="searchTerm" class="form-control" >
            </div>
            </form>


    <div class="card shadow mb-4">
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom Film</th>
                    <th>Genre</th>
                    <th>Date de Sortie</th>
                    <th>Producteur</th>
                    <!-- <th>Actions</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let film of films | searchFilter: searchTerm">
                    <td>{{film.idFilm}}</td>
                    <td>{{film.nomFilm}}</td>
                    <td>{{film.genreFil}}</td>
                    <td>{{film.dateSortie | date:'dd/MM/yyyy' }}</td>
                    <td>{{ film.producteur ? film.producteur.nomProduc : 'No producer' }}</td>
                    <!-- <td><a  class="btn btn-danger" (click)="supprimerFilm(film)">Supprimer</a></td>
                    <td><a class="btn btn-success" [routerLink]="['/updateFilm',film.idFilm]">Modifier</a></td> -->
                </tr>
        </tbody>
        
    </table>
</div>