<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
        <label>Producteurs </label>
        <select class="form-control form-control-lg" id="idProduc" name="idProduc" [(ngModel)]="IdProducteur"
            (change)="onChange()">
            <option *ngFor="let prod of producteurs" value="{{prod.idProduc}}">
                {{prod.nomProduc}}
            </option>
        </select>
    </div>





    <div class="card shadow mb-4">
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom Film</th>
                    <th>Genre</th>
                    <th>Date de Sortie</th>
                    <th>Producteur</th>
                    <!-- <th>Actions</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let film of films">
                    <td>{{film.idFilm}}</td>
                    <td>{{film.nomFilm}}</td>
                    <td>{{film.genreFil}}</td>
                    <td>{{film.dateSortie | date:'dd/MM/yyyy' }}</td>
                    <td>{{ film.producteur ? film.producteur.nomProduc : 'No producer' }}</td>
                    <!-- <td><a  class="btn btn-danger" (click)="supprimerFilm(film)">Supprimer</a></td>
                    <td><a class="btn btn-success" [routerLink]="['/updateFilm',film.idFilm]">Modifier</a></td> -->
                </tr>
        </tbody>
        
    </table>
</div>